venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.git/
.github/
.gitignore


logs/
evaluation/confusion_matrices/
evaluation/roc_curves
monitoring_reports/
evidently_workspace/

.ipynb_checkpoints/

data/raw/
data/processed/
notebooks/


README.md
LICENSE