venv/
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints
src/__pycache__
**/__pycache__/
*.py[cod]
mlruns/
logs/
/mlruns/
feature_repo/feature_repo/data/
mlflow.db
logs/prediction_logs.csv
evaluation/confusion_matrices/
evaluation/roc_curves/
evaluation/classification_report.json
evaluation/metrics.json
evidently_workspace/
monitoring/reports/
mlflow.db
data/processed/*
model/*.pkl