venv/
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints
models/*.pkl
src/__pycache__
**/__pycache__/
*.py[cod]
mlruns/
logs/
/mlruns/
feature_repo/feature_repo/data/
mlflow.db
logs/prediction_logs.csv
evaluation/
evidently_workspace/
monitoring/reports/
mlflow.db
data/processed/*